In [42]:
# 导入json模板
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [19]:
KEY  = 'a59c765f49dc49a3865cf1eb676d268a'

In [20]:
BASE_URL = "https://eastus.api.cognitive.microsoft.com/face/v1.0/detect"

# Microsoft API

### 单人识别

![单人](https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586760376071&di=a92923ea2800ddd6991a9692a200081b&imgtype=0&src=http%3A%2F%2Fp.store.itangyuan.com%2Fp%2Fbook%2Fcover%2FEg2t4BEWe_A%2FEg6tEgbS4B2veBbTetAVeGuBJgekeCwV9f.jpg)

In [34]:
# 沿用API的示范代碼，{subscription key}用KEY代入
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY), #''  
}

img_url = 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586760376071&di=a92923ea2800ddd6991a9692a200081b&imgtype=0&src=http%3A%2F%2Fp.store.itangyuan.com%2Fp%2Fbook%2Fcover%2FEg2t4BEWe_A%2FEg6tEgbS4B2veBbTetAVeGuBJgekeCwV9f.jpg'

In [35]:
data = {
    'url': '{}'.format(img_url),
}
payload = {
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'flase',
    'returnFaceAttributes': '{}'.format('age,gender,emotion'), 
}

In [36]:
r = requests.post(BASE_URL,data=json.dumps(data),params=payload,headers = HEADERS)

In [37]:
r.status_code

200

#### 笔记
第一次运行时代码状态位404，与老师的代码进行对比之后，发现是BASE_URL的原因。不用将问号之后的参数都复制下来，只需要到detect就行了。

In [38]:
r.content

b'[{"faceId":"fe833890-f394-4218-837a-26a3c525d426","faceRectangle":{"top":133,"left":209,"width":126,"height":126},"faceAttributes":{"gender":"male","age":23.0,"emotion":{"anger":0.0,"contempt":0.001,"disgust":0.0,"fear":0.0,"happiness":0.0,"neutral":0.899,"sadness":0.1,"surprise":0.0}}}]'

In [39]:
results1 = r.json()
results1

[{'faceId': 'fe833890-f394-4218-837a-26a3c525d426',
  'faceRectangle': {'top': 133, 'left': 209, 'width': 126, 'height': 126},
  'faceAttributes': {'gender': 'male',
   'age': 23.0,
   'emotion': {'anger': 0.0,
    'contempt': 0.001,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.0,
    'neutral': 0.899,
    'sadness': 0.1,
    'surprise': 0.0}}}]

In [40]:
df = pd.DataFrame(json_normalize(results1))

In [42]:
df
df_face_rectangle1 = df[['faceAttributes.gender','faceAttributes.age','faceAttributes.emotion.anger','faceAttributes.emotion.contempt','faceAttributes.emotion.disgust','faceAttributes.emotion.fear','faceAttributes.emotion.happiness','faceAttributes.emotion.neutral','faceAttributes.emotion.sadness','faceAttributes.emotion.surprise']]
df_face_rectangle1

,faceAttributes.gender,faceAttributes.age,faceAttributes.emotion.anger,faceAttributes.emotion.contempt,faceAttributes.emotion.disgust,faceAttributes.emotion.fear,faceAttributes.emotion.happiness,faceAttributes.emotion.neutral,faceAttributes.emotion.sadness,faceAttributes.emotion.surprise
0,male,23.0,0.0,0.001,0.0,0.0,0.0,0.899,0.1,0.0

### 多人识别（两个人）

![多人识别](https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586762549279&di=fed54ee73f021200f9390387425ba730&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fpic%2Fd%2F9f%2Ff3811620228.jpg)

In [43]:
# 沿用API的示范代碼，{subscription key}用KEY代入
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',# 选择语言（json）
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY), #''  
}

img_url = 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586762549279&di=fed54ee73f021200f9390387425ba730&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fpic%2Fd%2F9f%2Ff3811620228.jpg'

In [44]:
# 存储为data
data = {
    'url': '{}'.format(img_url),
}
payload = {
    'returnFaceAttributes': '{}'.format('age,gender,emotion'), 
}

In [46]:
r = requests.post(BASE_URL,data=json.dumps(data),params=payload,headers = HEADERS)

In [47]:
r.status_code

200

In [48]:
results = r.json()# 一定要加括号！！！
results

[{'faceId': 'e50a3dfc-8ef0-4a57-a7d7-05164a9c3d52',
  'faceRectangle': {'top': 157, 'left': 209, 'width': 130, 'height': 130},
  'faceAttributes': {'gender': 'male',
   'age': 23.0,
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.0,
    'neutral': 0.656,
    'sadness': 0.343,
    'surprise': 0.0}}},
 {'faceId': 'a2a6b923-9d17-476e-86b4-c7ccdd92a12e',
  'faceRectangle': {'top': 53, 'left': 474, 'width': 109, 'height': 109},
  'faceAttributes': {'gender': 'female',
   'age': 19.0,
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.0,
    'neutral': 0.999,
    'sadness': 0.001,
    'surprise': 0.0}}}]

In [49]:
df = pd.DataFrame(json_normalize(results))
df
df_face_rectangle2 = df[['faceAttributes.gender','faceAttributes.age','faceAttributes.emotion.anger','faceAttributes.emotion.contempt','faceAttributes.emotion.disgust','faceAttributes.emotion.fear','faceAttributes.emotion.happiness','faceAttributes.emotion.neutral','faceAttributes.emotion.sadness','faceAttributes.emotion.surprise']]
df_face_rectangle2

,faceAttributes.gender,faceAttributes.age,faceAttributes.emotion.anger,faceAttributes.emotion.contempt,faceAttributes.emotion.disgust,faceAttributes.emotion.fear,faceAttributes.emotion.happiness,faceAttributes.emotion.neutral,faceAttributes.emotion.sadness,faceAttributes.emotion.surprise
0,male,23.0,0.0,0.0,0.0,0.0,0.0,0.656,0.343,0.0
1,female,19.0,0.0,0.0,0.0,0.0,0.0,0.999,0.001,0.0

## 多人识别2

 ![三人](https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586764577760&di=038e79e0a051989dd17ad11e065c449e&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201806%2F08%2F20180608194154_eapnx.jpg)

In [50]:
# 沿用API的示范代碼，{subscription key}用KEY代入
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',# 选择语言（json）
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY), #''  
}

img_url = 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586764577760&di=038e79e0a051989dd17ad11e065c449e&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201806%2F08%2F20180608194154_eapnx.jpg'

In [51]:
# 存储为data
data = {
    'url': '{}'.format(img_url),
}
payload = {
    'returnFaceAttributes': '{}'.format('age,gender,emotion'), 
}

In [52]:
r = requests.post(BASE_URL,data=json.dumps(data),params=payload,headers = HEADERS)

In [53]:
r.status_code

200

In [54]:
results = r.json()# 一定要加括号！！！
results
df = pd.DataFrame(json_normalize(results))
df

,faceId,faceRectangle.top,faceRectangle.left,faceRectangle.width,faceRectangle.height,faceAttributes.gender,faceAttributes.age,faceAttributes.emotion.anger,faceAttributes.emotion.contempt,faceAttributes.emotion.disgust,faceAttributes.emotion.fear,faceAttributes.emotion.happiness,faceAttributes.emotion.neutral,faceAttributes.emotion.sadness,faceAttributes.emotion.surprise
0,d5adc5f1-c552-4935-b8e9-e131dd216571,746,292,216,216,male,24.0,0.0,0.001,0.0,0.0,0.001,0.997,0.001,0.001
1,7f7fbb50-8ec4-403e-a39b-68afefd0c861,425,649,192,192,male,29.0,0.0,0.001,0.0,0.0,0.022,0.976,0.001,0.000
2,eadcffb6-af40-44b2-81fe-4ceb45b016f4,214,285,174,174,male,21.0,0.0,0.000,0.0,0.0,0.000,1.000,0.000,0.000

In [55]:
# 只提取性别年龄情绪
df_face_rectangle3 = df[['faceAttributes.gender','faceAttributes.age','faceAttributes.emotion.anger','faceAttributes.emotion.contempt','faceAttributes.emotion.disgust','faceAttributes.emotion.fear','faceAttributes.emotion.happiness','faceAttributes.emotion.neutral','faceAttributes.emotion.sadness','faceAttributes.emotion.surprise']]
df_face_rectangle3

,faceAttributes.gender,faceAttributes.age,faceAttributes.emotion.anger,faceAttributes.emotion.contempt,faceAttributes.emotion.disgust,faceAttributes.emotion.fear,faceAttributes.emotion.happiness,faceAttributes.emotion.neutral,faceAttributes.emotion.sadness,faceAttributes.emotion.surprise
0,male,24.0,0.0,0.001,0.0,0.0,0.001,0.997,0.001,0.001
1,male,29.0,0.0,0.001,0.0,0.0,0.022,0.976,0.001,0.000
2,male,21.0,0.0,0.000,0.0,0.0,0.000,1.000,0.000,0.000

## Face++

In [57]:
api_secret = "8HaBNIo_WUvY3cL42BQ2nmwIiv1aCrbZ"
# 输入我们API_Key
api_key = '1t6i1eyNujE2E9lY80jU7Q_zlC2fEOzf'  # Replace with a valid Subscription Key here.


# 3、目标url
# 这里也可以使用本地图片 例如：filepath ="image/tupian.jpg"
BASE_URL = 'https://api-cn.faceplusplus.com/facepp/v3/detect' 
img_url = 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586760376071&di=a92923ea2800ddd6991a9692a200081b&imgtype=0&src=http%3A%2F%2Fp.store.itangyuan.com%2Fp%2Fbook%2Fcover%2FEg2t4BEWe_A%2FEg6tEgbS4B2veBbTetAVeGuBJgekeCwV9f.jpg'

# 4、沿用API文档的示范代码,准备我们的headers和图片(数据)

headers = {
    'Content-Type': 'application/json',
}

# 5、准备symbol ? 后面的数据

payload = {
    "image_url":img_url,
    'api_key': api_key,
    'api_secret': api_secret,
    'return_attributes':'gender,age,smiling,emotion', 
}

In [59]:
#  requests发送我们请求
r = requests.post(BASE_URL, params=payload, headers=headers)

In [96]:
r.status_code

200

In [97]:
r.content

b'{"request_id":"1586787317,bfbfddd6-7f7d-4e84-a91b-af6ec826b801","time_used":86,"faces":[{"face_token":"cea0f952edad9720f218a30ed376b37b","face_rectangle":{"top":131,"left":227,"width":129,"height":129},"attributes":{"gender":{"value":"Male"},"age":{"value":21},"smile":{"value":0.019,"threshold":50.000},"emotion":{"anger":0.001,"disgust":0.001,"fear":0.001,"happiness":0.009,"neutral":99.965,"sadness":0.022,"surprise":0.002}}}],"image_id":"hUidk7hV8VfrFfdSzqECDA==","face_num":1}\n'

In [74]:
result = r.json()
result

{'request_id': '1586787317,bfbfddd6-7f7d-4e84-a91b-af6ec826b801',
 'time_used': 86,
 'faces': [{'face_token': 'cea0f952edad9720f218a30ed376b37b',
   'face_rectangle': {'top': 131, 'left': 227, 'width': 129, 'height': 129},
   'attributes': {'gender': {'value': 'Male'},
    'age': {'value': 21},
    'smile': {'value': 0.019, 'threshold': 50.0},
    'emotion': {'anger': 0.001,
     'disgust': 0.001,
     'fear': 0.001,
     'happiness': 0.009,
     'neutral': 99.965,
     'sadness': 0.022,
     'surprise': 0.002}}}],
 'image_id': 'hUidk7hV8VfrFfdSzqECDA==',
 'face_num': 1}

In [127]:
df = pd.DataFrame(json_normalize(result,"faces"))
t = df[['attributes.gender.value','attributes.age.value','attributes.smile.value','attributes.smile.threshold','attributes.emotion.anger','attributes.emotion.disgust','attributes.emotion.fear','attributes.emotion.happiness','attributes.emotion.neutral','attributes.emotion.sadness','attributes.emotion.surprise']]
t

,attributes.gender.value,attributes.age.value,attributes.smile.value,attributes.smile.threshold,attributes.emotion.anger,attributes.emotion.disgust,attributes.emotion.fear,attributes.emotion.happiness,attributes.emotion.neutral,attributes.emotion.sadness,attributes.emotion.surprise
0,Male,21,0.019,50.0,0.001,0.001,0.001,0.009,99.965,0.022,0.002

### 多人识别（两人）

In [133]:
api_secret = "8HaBNIo_WUvY3cL42BQ2nmwIiv1aCrbZ"
# 输入我们API_Key
api_key = '1t6i1eyNujE2E9lY80jU7Q_zlC2fEOzf'  # Replace with a valid Subscription Key here.


# 3、目标url
# 这里也可以使用本地图片 例如：filepath ="image/tupian.jpg"
BASE_URL = 'https://api-cn.faceplusplus.com/facepp/v3/detect' 
img_url = 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586762549279&di=fed54ee73f021200f9390387425ba730&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fpic%2Fd%2F9f%2Ff3811620228.jpg'

# 4、沿用API文档的示范代码,准备我们的headers和图片(数据)

headers = {
    'Content-Type': 'application/json',
}

# 5、准备symbol ? 后面的数据

payload = {
    "image_url":img_url,
    'api_key': api_key,
    'api_secret': api_secret,
    'return_attributes':'gender,age,smiling,emotion', 
}

In [135]:
r = requests.post(BASE_URL, params=payload, headers=headers)

In [137]:
r.status_code

200

In [139]:
result = r.json()
result

{'request_id': '1586792883,b421dd40-bbd0-4873-a07d-8f248640b5c6',
 'time_used': 124,
 'faces': [{'face_token': '5f2b303d99151e4f421000d351741ae6',
   'face_rectangle': {'top': 165, 'left': 221, 'width': 121, 'height': 121},
   'attributes': {'gender': {'value': 'Male'},
    'age': {'value': 23},
    'smile': {'value': 0.001, 'threshold': 50.0},
    'emotion': {'anger': 0.016,
     'disgust': 0.016,
     'fear': 9.881,
     'happiness': 0.016,
     'neutral': 43.932,
     'sadness': 45.924,
     'surprise': 0.214}}},
  {'face_token': 'c4cff0cc891095adbbed17b50875fdc4',
   'face_rectangle': {'top': 60, 'left': 471, 'width': 112, 'height': 112},
   'attributes': {'gender': {'value': 'Female'},
    'age': {'value': 18},
    'smile': {'value': 0.016, 'threshold': 50.0},
    'emotion': {'anger': 0.0,
     'disgust': 0.006,
     'fear': 0.0,
     'happiness': 0.001,
     'neutral': 99.983,
     'sadness': 0.005,
     'surprise': 0.004}}}],
 'image_id': 'Jv1DMc3Wvv0xfbKWlrUkEg==',
 'face_num': 2}

In [141]:
df = pd.DataFrame(json_normalize(result,"faces"))
l = df[['attributes.gender.value','attributes.age.value','attributes.smile.value','attributes.smile.threshold','attributes.emotion.anger','attributes.emotion.disgust','attributes.emotion.fear','attributes.emotion.happiness','attributes.emotion.neutral','attributes.emotion.sadness','attributes.emotion.surprise']]
l

,attributes.gender.value,attributes.age.value,attributes.smile.value,attributes.smile.threshold,attributes.emotion.anger,attributes.emotion.disgust,attributes.emotion.fear,attributes.emotion.happiness,attributes.emotion.neutral,attributes.emotion.sadness,attributes.emotion.surprise
0,Male,23,0.001,50.0,0.016,0.016,9.881,0.016,43.932,45.924,0.214
1,Female,18,0.016,50.0,0.000,0.006,0.000,0.001,99.983,0.005,0.004

### 多人识别（三个人）

In [153]:
api_secret = "8HaBNIo_WUvY3cL42BQ2nmwIiv1aCrbZ"

api_key = '1t6i1eyNujE2E9lY80jU7Q_zlC2fEOzf'  # Replace with a valid Subscription Key here.

BASE_URL = 'https://api-cn.faceplusplus.com/facepp/v3/detect' 
img_url = 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586764577760&di=038e79e0a051989dd17ad11e065c449e&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201806%2F08%2F20180608194154_eapnx.jpg'

headers = {
    'Content-Type': 'application/json',
}

payload = {
    "image_url":img_url,
    'api_key': api_key,
    'api_secret': api_secret,
    'return_attributes':'gender,age,smiling,emotion', 
}

In [154]:
r = requests.post(BASE_URL, params=payload, headers=HEADERS)

In [155]:
r.status_code

200

In [156]:
result = r.json()
result

{'request_id': '1586794124,a5463bb3-2e82-4723-925c-8916024f86f5',
 'time_used': 538,
 'faces': [{'face_token': '789d64ccd87d3f762a5530be2bf724b2',
   'face_rectangle': {'top': 752, 'left': 282, 'width': 197, 'height': 197},
   'attributes': {'gender': {'value': 'Male'},
    'age': {'value': 20},
    'smile': {'value': 0.967, 'threshold': 50.0},
    'emotion': {'anger': 0.003,
     'disgust': 0.001,
     'fear': 0.001,
     'happiness': 0.001,
     'neutral': 99.981,
     'sadness': 0.012,
     'surprise': 0.001}}},
  {'face_token': '3ee5eb6a4eb2dbc7fc8a73af4362b3a8',
   'face_rectangle': {'top': 434, 'left': 680, 'width': 185, 'height': 185},
   'attributes': {'gender': {'value': 'Female'},
    'age': {'value': 27},
    'smile': {'value': 6.483, 'threshold': 50.0},
    'emotion': {'anger': 0.083,
     'disgust': 0.083,
     'fear': 10.519,
     'happiness': 1.535,
     'neutral': 85.289,
     'sadness': 2.174,
     'surprise': 0.318}}},
  {'face_token': '2bd6720a8f53834f63300cbeee9ade0a',
   'face_rectangle': {'top': 232, 'left': 298, 'width': 170, 'height': 170},
   'attributes': {'gender': {'value': 'Male'},
    'age': {'value': 24},
    'smile': {'value': 0.023, 'threshold': 50.0},
    'emotion': {'anger': 0.011,
     'disgust': 0.003,
     'fear': 0.008,
     'happiness': 0.009,
     'neutral': 99.953,
     'sadness': 0.003,
     'surprise': 0.014}}}],
 'image_id': '63gH74ENpCEspnTGI2Bi7Q==',
 'face_num': 3}

In [158]:
df = pd.DataFrame(json_normalize(result,"faces"))
a = df[['attributes.gender.value','attributes.age.value','attributes.smile.value','attributes.smile.threshold','attributes.emotion.anger','attributes.emotion.disgust','attributes.emotion.fear','attributes.emotion.happiness','attributes.emotion.neutral','attributes.emotion.sadness','attributes.emotion.surprise']]
a

,attributes.gender.value,attributes.age.value,attributes.smile.value,attributes.smile.threshold,attributes.emotion.anger,attributes.emotion.disgust,attributes.emotion.fear,attributes.emotion.happiness,attributes.emotion.neutral,attributes.emotion.sadness,attributes.emotion.surprise
0,Male,20,0.967,50.0,0.003,0.001,0.001,0.001,99.981,0.012,0.001
1,Female,27,6.483,50.0,0.083,0.083,10.519,1.535,85.289,2.174,0.318
2,Male,24,0.023,50.0,0.011,0.003,0.008,0.009,99.953,0.003,0.014

### 百度API

In [57]:
import base64

In [58]:
# 获取token
host = 'https://aip.baidubce.com/oauth/2.0/token?grant_type=client_credentials&client_id=XYjcG2iSIaD8UDXcFNkPIc2i&client_secret=2EPcvyRjzCGiM22qmt4gs6GN1dAgXCx8'
response = requests.get(host)
if response:
    print(response.json())

{'refresh_token': '25.bfebaf2ff629252df1e609e8ab65fb85.315360000.1902211579.282335-19405023', 'expires_in': 2592000, 'session_key': '9mzdCPWOgHYBExX4FwpjKOBn4fsUq7+JaeroF8qIbr/IvDRQjrYz0VA1fApTs8rT9NqeDrc87vHsRvncbMKFtDiyP+WEiw==', 'access_token': '24.31d411a27383a3676e6ca9371395da16.2592000.1589443579.282335-19405023', 'scope': 'public brain_all_scope vis-faceverify_faceverify_h5-face-liveness vis-faceverify_FACE_V3 vis-faceverify_idl_face_merge wise_adapt lebo_resource_base lightservice_public hetu_basic lightcms_map_poi kaidian_kaidian ApsMisTest_Test权限 vis-classify_flower lpq_开放 cop_helloScope ApsMis_fangdi_permission smartapp_snsapi_base iop_autocar oauth_tp_app smartapp_smart_game_openapi oauth_sessionkey smartapp_swanid_verify smartapp_opensource_openapi smartapp_opensource_recapi qatest_scope1 fake_face_detect_开放Scope vis-ocr_虚拟人物助理 idl-video_虚拟人物助理', 'session_secret': '57822af428a3bdbadb62bb8d6a06b9d6'}

In [59]:
# 使用本地图片
request_url = "https://aip.baidubce.com/rest/2.0/face/v3/detect"
#params = "{\"image\":\"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586760376071&di=a92923ea2800ddd6991a9692a200081b&imgtype=0&src=http%3A%2F%2Fp.store.itangyuan.com%2Fp%2Fbook%2Fcover%2FEg2t4BEWe_A%2FEg6tEgbS4B2veBbTetAVeGuBJgekeCwV9f.jpg\",\"image_type\":\"FACE_TOKEN\",\"face_field\":\"faceshape,facetype\"}"
import base64
with open("C:\\Users\\PC\\Desktop\\timg[1].jpg",'rb') as f:
    imageB = base64.b64encode(f.read())
image = str(imageB,'utf-8')
params = {"image_type":"BASE64","group_id_list":"faceLib,group1","quality_control":"LOW","face_field":"age,beauty,expression,face_shape,gender"}
params["image"]=image
params1=str(params)
access_token = '[24.6c36f3a284159d7e194bb1a746375dd5.2592000.1589388539.282335-19405023]'
request_url = request_url + "?access_token=" + access_token
headers = {'content-type': 'application/json'}
response = requests.post(request_url, data=params, headers=headers)
if response:
    print (response.json())

{'error_code': 0, 'error_msg': 'SUCCESS', 'log_id': 8979791010515, 'timestamp': 1586851582, 'cached': 0, 'result': {'face_num': 1, 'face_list': [{'face_token': 'b09276b333cd9c188822acf398c47cc3', 'location': {'left': 208.79, 'top': 170, 'width': 128, 'height': 126, 'rotation': -29}, 'face_probability': 1, 'angle': {'yaw': 24.25, 'pitch': 4.66, 'roll': -30.84}, 'age': 23, 'beauty': 77.45, 'expression': {'type': 'none', 'probability': 1}, 'face_shape': {'type': 'oval', 'probability': 0.5}, 'gender': {'type': 'male', 'probability': 1}}]}}

In [61]:
end = response.json()
end

{'error_code': 0,
 'error_msg': 'SUCCESS',
 'log_id': 8979791010515,
 'timestamp': 1586851582,
 'cached': 0,
 'result': {'face_num': 1,
  'face_list': [{'face_token': 'b09276b333cd9c188822acf398c47cc3',
    'location': {'left': 208.79,
     'top': 170,
     'width': 128,
     'height': 126,
     'rotation': -29},
    'face_probability': 1,
    'angle': {'yaw': 24.25, 'pitch': 4.66, 'roll': -30.84},
    'age': 23,
    'beauty': 77.45,
    'expression': {'type': 'none', 'probability': 1},
    'face_shape': {'type': 'oval', 'probability': 0.5},
    'gender': {'type': 'male', 'probability': 1}}]}}

In [62]:
type(end)

dict

In [63]:
df = pd.DataFrame(json_normalize(end))
df

,error_code,error_msg,log_id,timestamp,cached,result.face_num,result.face_list
0,0,SUCCESS,8979791010515,1586851582,0,1,[{'face_token': 'b09276b333cd9c188822acf398c47...

In [64]:
real_result = end["result"]
real_result

{'face_num': 1,
 'face_list': [{'face_token': 'b09276b333cd9c188822acf398c47cc3',
   'location': {'left': 208.79,
    'top': 170,
    'width': 128,
    'height': 126,
    'rotation': -29},
   'face_probability': 1,
   'angle': {'yaw': 24.25, 'pitch': 4.66, 'roll': -30.84},
   'age': 23,
   'beauty': 77.45,
   'expression': {'type': 'none', 'probability': 1},
   'face_shape': {'type': 'oval', 'probability': 0.5},
   'gender': {'type': 'male', 'probability': 1}}]}

In [65]:
need_result = real_result["face_list"]
need_result

[{'face_token': 'b09276b333cd9c188822acf398c47cc3',
  'location': {'left': 208.79,
   'top': 170,
   'width': 128,
   'height': 126,
   'rotation': -29},
  'face_probability': 1,
  'angle': {'yaw': 24.25, 'pitch': 4.66, 'roll': -30.84},
  'age': 23,
  'beauty': 77.45,
  'expression': {'type': 'none', 'probability': 1},
  'face_shape': {'type': 'oval', 'probability': 0.5},
  'gender': {'type': 'male', 'probability': 1}}]

In [67]:
df = pd.DataFrame(json_normalize(need_result))
df
n = df[['face_token','age','expression.type','gender.type']]
n

                         face_token  age expression.type gender.type
0  b09276b333cd9c188822acf398c47cc3   23            none        male

### 多人提取（两个人）

In [68]:
# 获取token
host = 'https://aip.baidubce.com/oauth/2.0/token?grant_type=client_credentials&client_id=XYjcG2iSIaD8UDXcFNkPIc2i&client_secret=2EPcvyRjzCGiM22qmt4gs6GN1dAgXCx8'
response = requests.get(host)
if response:
    print(response.json())

{'refresh_token': '25.fd112123da2986123e208169056bb6d0.315360000.1902211659.282335-19405023', 'expires_in': 2592000, 'session_key': '9mzdDoCiabeMoQK+l49fL7CHCCEU1B5zykJL8Hof0rrywbEhs+YT6Ko6ei1W3caUuftnYntvTvM01yXXK/gRI9Z3HECAqg==', 'access_token': '24.5232b7101f7f94e064e409a3159974a9.2592000.1589443659.282335-19405023', 'scope': 'public brain_all_scope vis-faceverify_faceverify_h5-face-liveness vis-faceverify_FACE_V3 vis-faceverify_idl_face_merge wise_adapt lebo_resource_base lightservice_public hetu_basic lightcms_map_poi kaidian_kaidian ApsMisTest_Test权限 vis-classify_flower lpq_开放 cop_helloScope ApsMis_fangdi_permission smartapp_snsapi_base iop_autocar oauth_tp_app smartapp_smart_game_openapi oauth_sessionkey smartapp_swanid_verify smartapp_opensource_openapi smartapp_opensource_recapi qatest_scope1 fake_face_detect_开放Scope vis-ocr_虚拟人物助理 idl-video_虚拟人物助理', 'session_secret': '82bc984eed8f97d8bee29102375e6e1b'}

In [69]:
# 使用本地图片
request_url = "https://aip.baidubce.com/rest/2.0/face/v3/detect"
#params = "{\"image\":\"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586760376071&di=a92923ea2800ddd6991a9692a200081b&imgtype=0&src=http%3A%2F%2Fp.store.itangyuan.com%2Fp%2Fbook%2Fcover%2FEg2t4BEWe_A%2FEg6tEgbS4B2veBbTetAVeGuBJgekeCwV9f.jpg\",\"image_type\":\"FACE_TOKEN\",\"face_field\":\"faceshape,facetype\"}"
import base64
with open("D:\\timg[2].jpg",'rb') as y:
    imageA = base64.b64encode(y.read())
image = str(imageA,'utf-8')
params = {"image_type":"BASE64","group_id_list":"faceLib,group1","quality_control":"LOW","face_field":"age,beauty,expression,face_shape,gender"}
params["image"]=image
params1=str(params)
access_token = '[24.f390ae9e31ad793ded5ec1bca05576c2.2592000.1589441715.282335-19405023]'
request_url = request_url + "?access_token=" + access_token
headers = {'content-type': 'application/json'}
response = requests.post(request_url, data=params, headers=headers)
if response:
    print (response.json())

{'error_code': 0, 'error_msg': 'SUCCESS', 'log_id': 3594159455201, 'timestamp': 1586851661, 'cached': 0, 'result': {'face_num': 1, 'face_list': [{'face_token': '414efcc43882f20822502a50e7858764', 'location': {'left': 207.37, 'top': 183.99, 'width': 123, 'height': 120, 'rotation': -15}, 'face_probability': 1, 'angle': {'yaw': 10.91, 'pitch': 19.97, 'roll': -21.27}, 'age': 23, 'beauty': 84.57, 'expression': {'type': 'none', 'probability': 1}, 'face_shape': {'type': 'heart', 'probability': 0.49}, 'gender': {'type': 'male', 'probability': 1}}]}}

In [70]:
trival = response.json()
trival

{'error_code': 0,
 'error_msg': 'SUCCESS',
 'log_id': 3594159455201,
 'timestamp': 1586851661,
 'cached': 0,
 'result': {'face_num': 1,
  'face_list': [{'face_token': '414efcc43882f20822502a50e7858764',
    'location': {'left': 207.37,
     'top': 183.99,
     'width': 123,
     'height': 120,
     'rotation': -15},
    'face_probability': 1,
    'angle': {'yaw': 10.91, 'pitch': 19.97, 'roll': -21.27},
    'age': 23,
    'beauty': 84.57,
    'expression': {'type': 'none', 'probability': 1},
    'face_shape': {'type': 'heart', 'probability': 0.49},
    'gender': {'type': 'male', 'probability': 1}}]}}

In [71]:
real_result = trival["result"]
real_result
need_result = real_result["face_list"]
need_result

[{'face_token': '414efcc43882f20822502a50e7858764',
  'location': {'left': 207.37,
   'top': 183.99,
   'width': 123,
   'height': 120,
   'rotation': -15},
  'face_probability': 1,
  'angle': {'yaw': 10.91, 'pitch': 19.97, 'roll': -21.27},
  'age': 23,
  'beauty': 84.57,
  'expression': {'type': 'none', 'probability': 1},
  'face_shape': {'type': 'heart', 'probability': 0.49},
  'gender': {'type': 'male', 'probability': 1}}]

In [72]:
df = pd.DataFrame(json_normalize(need_result))
df
m = df[['face_token','age','expression.type','gender.type']]
m

                         face_token  age expression.type gender.type
0  414efcc43882f20822502a50e7858764   23            none        male

In [44]:
# 获取token
host = 'https://aip.baidubce.com/oauth/2.0/token?grant_type=client_credentials&client_id=XYjcG2iSIaD8UDXcFNkPIc2i&client_secret=2EPcvyRjzCGiM22qmt4gs6GN1dAgXCx8'
response = requests.get(host)
if response:
    print(response.json())

{'refresh_token': '25.3a4ed8ffc573be05c463866d7e5aa2a5.315360000.1902211310.282335-19405023', 'expires_in': 2592000, 'session_key': '9mzdWWgNZtPqefJosRxxpKbOEWhDl5sdGSxq8d/279iiMC/ZoM4FM/2NHSFOHzPqB1xFRVtjVbWNJQyKx/q+yjCBpYpWOA==', 'access_token': '24.b2aa0633a05b13c9bc8d352600ce623d.2592000.1589443310.282335-19405023', 'scope': 'public brain_all_scope vis-faceverify_faceverify_h5-face-liveness vis-faceverify_FACE_V3 vis-faceverify_idl_face_merge wise_adapt lebo_resource_base lightservice_public hetu_basic lightcms_map_poi kaidian_kaidian ApsMisTest_Test权限 vis-classify_flower lpq_开放 cop_helloScope ApsMis_fangdi_permission smartapp_snsapi_base iop_autocar oauth_tp_app smartapp_smart_game_openapi oauth_sessionkey smartapp_swanid_verify smartapp_opensource_openapi smartapp_opensource_recapi qatest_scope1 fake_face_detect_开放Scope vis-ocr_虚拟人物助理 idl-video_虚拟人物助理', 'session_secret': 'd1b970a784754036f1c0e174db11fe8f'}

In [46]:
# 使用本地图片
request_url = "https://aip.baidubce.com/rest/2.0/face/v3/detect"
#params = "{\"image\":\"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586760376071&di=a92923ea2800ddd6991a9692a200081b&imgtype=0&src=http%3A%2F%2Fp.store.itangyuan.com%2Fp%2Fbook%2Fcover%2FEg2t4BEWe_A%2FEg6tEgbS4B2veBbTetAVeGuBJgekeCwV9f.jpg\",\"image_type\":\"FACE_TOKEN\",\"face_field\":\"faceshape,facetype\"}"
import base64
with open("D:\\Download\\three.jpg",'rb') as x:
    imageC = base64.b64encode(x.read())
image = str(imageC,'utf-8')
params = {"image_type":"BASE64","group_id_list":"faceLib,group1","quality_control":"LOW","face_field":"age,beauty,expression,face_shape,gender"}
params["image"]=image
params1=str(params)
access_token = '[24.f390ae9e31ad793ded5ec1bca05576c2.2592000.1589441715.282335-19405023]'
request_url = request_url + "?access_token=" + access_token
headers = {'content-type': 'application/json'}
response = requests.post(request_url, data=params, headers=headers)
if response:
    print (response.json())

{'error_code': 0, 'error_msg': 'SUCCESS', 'log_id': 6505842599753, 'timestamp': 1586851390, 'cached': 0, 'result': {'face_num': 1, 'face_list': [{'face_token': '3dcb0142b349401544036aee1df7cadc', 'location': {'left': 327.35, 'top': 722.64, 'width': 196, 'height': 183, 'rotation': 27}, 'face_probability': 1, 'angle': {'yaw': -24.53, 'pitch': 18.81, 'roll': 32.21}, 'age': 23, 'beauty': 74.24, 'expression': {'type': 'none', 'probability': 1}, 'face_shape': {'type': 'heart', 'probability': 0.6}, 'gender': {'type': 'male', 'probability': 0.97}}]}}

In [49]:
threshold = response.json()
threshold

{'error_code': 0,
 'error_msg': 'SUCCESS',
 'log_id': 6505842599753,
 'timestamp': 1586851390,
 'cached': 0,
 'result': {'face_num': 1,
  'face_list': [{'face_token': '3dcb0142b349401544036aee1df7cadc',
    'location': {'left': 327.35,
     'top': 722.64,
     'width': 196,
     'height': 183,
     'rotation': 27},
    'face_probability': 1,
    'angle': {'yaw': -24.53, 'pitch': 18.81, 'roll': 32.21},
    'age': 23,
    'beauty': 74.24,
    'expression': {'type': 'none', 'probability': 1},
    'face_shape': {'type': 'heart', 'probability': 0.6},
    'gender': {'type': 'male', 'probability': 0.97}}]}}

In [53]:
real_result = threshold["result"]
real_result
need_result = real_result["face_list"]
need_result

[{'face_token': '3dcb0142b349401544036aee1df7cadc',
  'location': {'left': 327.35,
   'top': 722.64,
   'width': 196,
   'height': 183,
   'rotation': 27},
  'face_probability': 1,
  'angle': {'yaw': -24.53, 'pitch': 18.81, 'roll': 32.21},
  'age': 23,
  'beauty': 74.24,
  'expression': {'type': 'none', 'probability': 1},
  'face_shape': {'type': 'heart', 'probability': 0.6},
  'gender': {'type': 'male', 'probability': 0.97}}]

In [54]:
df = pd.DataFrame(json_normalize(need_result))
df
q = df[['face_token','age','expression.type','gender.type']]
q

                         face_token  age expression.type gender.type
0  3dcb0142b349401544036aee1df7cadc   23            none        male

**百度AI定义的FACE_TOKEN**: 人脸图片的唯一标识，调用人脸检测接口时，会为每个人脸图片赋予一个 **唯一的** FACE_TOKEN， **同一张图片** 多次检测得到的 **FACE_TOKEN是同一个** 。

### 总结对比比较

- 用了三个API平台，分别是**Microsoft**，**Face++** **百度API**
- 其中百度API的回报信息有点疑惑，明明是不同的照片不同的face_token，却显示出相同的数据结果。也无法检测多人，好像只能检测一个人脸。并且年龄性别甚至是情绪啥都一样。
- 在三个平台中，我认为在 **对年龄分析** 的数据中最准确的应该是Face++,特别是在人数较多的时候验证的比其他两家都要“写实”。不会像微软那么显年轻，也不会像百度AI如此概括性。
- 但是在性别的检测中，微软返回的数据都能精准识别出来。其次就是Face++，最后三个男人的图片却检测出有一个女性，如果因为化装所以不可识别的话那也有点不太行。
- 综上，三个API还是微软API比较好，尽管显得人年轻。